@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Poppins', sans-serif;
  height: 718px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 58px 32px 0 24px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.first-container {
  display: flex;
  background-image: url(./images/mobile-images/mobile-background.png);
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  border-bottom-left-radius: 90px;
}

.intro-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.intro-msg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
